@font-face {
  font-family: 'drive';
  src: url('../font/drive.eot?70928318');
  src: url('../font/drive.eot?70928318#iefix') format('embedded-opentype'),
       url('../font/drive.woff?70928318') format('woff'),
       url('../font/drive.ttf?70928318') format('truetype'),
       url('../font/drive.svg?70928318#drive') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'drive';
    src: url('../font/drive.svg?70928318#drive') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "drive";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-icon-01:before { content: '\e800'; } /* '' */
.icon-icon-02:before { content: '\e801'; } /* '' */
.icon-icon-03:before { content: '\e802'; } /* '' */
.icon-icon-04:before { content: '\e803'; } /* '' */
.icon-icon-05:before { content: '\e804'; } /* '' */
.icon-icon-06:before { content: '\e805'; } /* '' */
.icon-icon-07:before { content: '\e806'; } /* '' */
.icon-icon-08:before { content: '\e807'; } /* '' */
.icon-icon-09:before { content: '\e808'; } /* '' */
.icon-icon-10:before { content: '\e809'; } /* '' */
.icon-icon-11:before { content: '\e80a'; } /* '' */
.icon-icon-12:before { content: '\e80b'; } /* '' */
.icon-icon-13:before { content: '\e80c'; } /* '' */
.icon-icon-14:before { content: '\e80d'; } /* '' */
.icon-icon-15:before { content: '\e80e'; } /* '' */