/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/*.p12
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.DS_Store

# fake document generation default output
/src/LesPolypodes/SimpleDMSBundle/Resources/fake/

# buildable Integration
/app/Resources/index.html
/integration/node_modules/
/integration/public
/web/css
/web/fonts
/web/images
/web/index.html
/web/js
/web/bower_components/
