/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/*.p12
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/web/bower_components/
/bin/
/composer.phar
/src/LesPolypodes/SimpleDMSBundle/Resources/fake/
.DS_Store
/integration/node_modules/
