{% extends 'LesPolypodesSimpleDMSBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        {% if folders is defined and 0 < folders|length %}
            {% include "@LesPolypodesSimpleDMS/Website/common/folders.html.twig" with {'folders': folders } %}
        {% endif %}
        {% if usages is defined and 0 < usages|length %}
            {% include "@LesPolypodesSimpleDMS/Website/common/usages.html.twig" with {'usages': usages } %}
        {% endif %}
    </div>

    <div class="row">
        {% if form is defined %}
            {% include "@LesPolypodesSimpleDMS/Website/common/form.html.twig" with {'form': form } %}
        {% endif %}

        {% if 'dev' == app.environment and optParams is defined and pagination is defined %}
            {{ dump(optParams|merge(pagination)) }}
        {% endif %}
        <div>In this page: {{ count }} files</div>
        <div>per-pagination count: {{ count }}</div>

        {% if has_pagination is defined and has_pagination %}
            {% include "@LesPolypodesSimpleDMS/Website/common/paginator.html.twig"
                with {
                    'has_pagination':   has_pagination,
                    'pagination':       pagination,
                    'count':            count
                }
            %}
        {% endif %}
    </div>

    <div class="row">
        {% if list is defined and 0 < list|length %}
            {% for file in list %}
                <div class="col-md-4">
                    {% include "@LesPolypodesSimpleDMS/Website/common/file.html.twig"
                        with {"file": file} %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {% javascripts '@LesPolypodesSimpleDMSBundle/Resources/public/js/*' output='js/vendors/main.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
