{% extends 'LesPolypodesSimpleDMSBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        {% if folders is defined and 0 < folders|length %}
            {% include "@LesPolypodesSimpleDMS/Website/common/folders.html.twig" with {'folders': folders } %}
        {% endif %}
        {% if usages is defined and 0 < usages|length %}
            {% include "@LesPolypodesSimpleDMS/Website/common/usages.html.twig" with {'usages': usages } %}
        {% endif %}
    </div>

    <div class="row">
        {% if form is defined %}
            {% include "@LesPolypodesSimpleDMS/Website/common/form.html.twig" with {'form': form } %}
        {% endif %}

        {% if has_pagination is defined %}
            {% include "@LesPolypodesSimpleDMS/Website/common/paginator.html.twig"
                with {
                    'has_pagination':   has_pagination,
                    'pagination':       pagination,
                }
            %}
        {% endif %}
    </div>

    <div class="row">
        {% if folder.file is defined %}
            <h2>{{ folder.file.title }}</h2>
            {% if folder.file.parents.0.id is defined %}
            <h3>
                [<a href="{{ url("_folder", {folderId: folder.file.parents.0.id} ) }}">parent</a>]
            </h3>
            {% endif %}
        {% endif %}
        {% if items is defined and 0 < items|length %}
            {% for file in items %}
                <div class="col-md-4">
                    {% include "@LesPolypodesSimpleDMS/Website/common/file.html.twig"
                    with {"file": file} %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {% javascripts '@LesPolypodesSimpleDMSBundle/Resources/public/js/*' output='js/vendors/main.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
