<div class="col-md-6">
    <h3>Children folders:</h3>
    <ul>
        {% for id,folder in folders %}
            <li><a href="{{ url("_folder", {folderId: folder.id} ) }}">{{ folder.title }}</a></li>
        {% endfor %}
    </ul>
</div>
