<div class="col-md-6">
    <h3>Folders:</h3>
    <ul>
        {% for folder in folders.orderedList %}
            <li><a href="{{ url("_folder", {folderId: folder.id} ) }}">{{ folder.title }}</a></li>
        {% endfor %}
    </ul>
</div>
