//
// layout styles
// =========================================================

@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  100% {
    transform: none;
  }
}

// Mobile first
// =====================================

html, body {
  height: 100%;
  overflow: hidden;
}

.header {
  height: (@bs * 8);
}

.header-logo {
  position: absolute;
  top: 0;
  width: 100%;
  height: (@bs * 4);
}

.header-search {
  position: absolute;
  top: (@bs * 4);
  left: 0;
  right: (@bs * 4);
  height: (@bs * 4);
}

.header-button {
  position: absolute;
  top: 0;
  right: 0;
  width: (@bs * 4);
  height: (@bs * 4);
}

.main {
  position: absolute;
  top: (@bs * 8);
  right: 0;
  left: 0;
  bottom: 0;

  // class added to .main
  // to open menu
  &.menu-open {
    .menu {
      left: 0;
      transition: left 0.5s;
    }

    .content {
      left: (@bs * 16);
      transition: left 0.5s;
    }
  }
}

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -(@bs * 16);
  width: (@bs * 16);
  transition: left 0.5s;
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: (@bs * 4);
  padding-right: (@bs  * 3);
  padding-left: (@bs  * 2);
  transition: left 0.5s;
}

// Tablet
// =====================================
@media (min-width: @screen-tablet) {
  .header-logo {
    position: absolute;
    top: 0;
    width: (@bs * 16);
    height: (@bs * 4);
  }

  .header {
    height: (@bs * 4);
  }

  .header-search {
    position: absolute;
    top: 0;
    left: (@bs * 16);
    right: (@bs * 4);
    height: (@bs * 4);
  }

  .main {
    top: (@bs * 4);
  }
}

// Desktop
// =====================================
@media (min-width: @screen-desktop) {

}